<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link href="{{ url_for('static', filename='style.css') }}" type="text/css" rel="stylesheet" media="screen">
    <script src="{{ url_for('static', filename='codemirror.js') }}" type="text/javascript" charset="utf-8"></script>
    <script async src="{{ url_for('static', filename='json-diff.js') }}" type="text/javascript" charset="utf-8"></script>
    <script defer src="{{ url_for('static', filename='main.js') }}" type="text/javascript" charset="utf-8"></script>
</head>

<body>
    <script>
        function addEvent(obj, event, fct) {
            obj.addEventListener(event, fct, true);
        }
    </script>
    <div class="header">
        <h3><a href="/">JSON Diff</a></h3>
    </div>
    <div hidden="true">
        <textarea id="editor-container-text">{{ json_1 }}</textarea>
        <textarea id="editor-container-text-2">{{ json_2 }}</textarea>
    </div>
    <div id="result">
        <div id="nb-diff" class="editor-valid"></div>
        <div class="center">
            <input type="button" class="action-button-editor" value="Next diff" onclick="next()">
            <input type="button" class="action-button-editor" value="Previous diff" onclick="previous()">
        </div>
        <div style="clear:both"></div>
        <div class="column-double">
            <div class="editor-container">
                <textarea id="editor-container-result1" class="editor"></textarea>
            </div>
        </div>
        <div class="column-double">
            <div class="editor-container">
                <textarea id="editor-container-result2" class="editor"></textarea>
            </div>
        </div>
    </div>
</body>

</html>