<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link href="{{ url_for('static', filename='style.css') }}" type="text/css" rel="stylesheet" media="screen">
</head>

<body>
<div class="header">
    <h3>
        <table class="version">
            <tr>
                <td><a href="/">JSON Diff</a></td>
                <td class="rightcol">version=local</td>
            </tr>
        </table>
    </h3>
</div>
<div class="diff-list">
    <div class="list-item">
        <form method="post" action="/" enctype="multipart/form-data">
            <p>Choose first .json files* <input type="file" name="filesFirst" multiple="true" autocomplete="off" required></p>
            <p>Choose second .json files* <input type="file" name="filesSecond" multiple="true" autocomplete="off" required></p>
            <p>Choose convert config .json file <input type="file" name="convertConfig" autocomplete="off"></p>
            <p>Set report name <input type="text" name="reportTitle"></p>
            <p><input type="submit" value="Upload"></p>
        </form>
    </div>

    <div class="diff-list">
        <ol>
            {% for item in reports %}
            <li>
                <div class="list-item">
                    {{ item }}
                </div>
            </li>
            {% endfor %}
        </ol>
    </div>
</div>
</body>

</html>