<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link href="{{ url_for('static', filename='style.css') }}" type="text/css" rel="stylesheet" media="screen">
</head>

<body>
    <div class="header">
        <h3><a href="/">JSON Diff</a></h3>
    </div>
<div class="diff-list">
    <h4>{{ report.header }}</h4>
    <ol>
        {% for table in report.tables %}
        <li>
            <div class="list-item">
                <input class="toggle-box" id="{{ table.name }}" type="checkbox">
                <label for="{{ table.name }}">{{ table.name }}</label>
                <div>
                    <div class="result-table">{{ table.data }}</div>
                </div>
            </div>
        </li>
        {% endfor %}
    </ol>
</div>
</body>

</html>